[user]
	email = josh@krokismedia.com
	name = kabaww
	signingkey = 5157FD1B8C82B956
[gpg]
	program = gpg
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed-signers
[merge]
	tool = meld
[pull]
	rebase = true
