configuration {
	modi: "combi";
	combi-modes: "drun, run, filebrowser, window";
	show-icons: true;

	combi-hide-on-prefix: true;

	display-drun: "";
  calc {
	calc-command: "echo -n '{result}' | wl-copy";
	terse: true;
	hint-result: "RESULT: ";
	hint-welcome: "calc: ";
	no-bold: true;
  }
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "spotlight"
