configuration {
	modi: "combi";
	combi-modes: "drun, run, filebrowser, window";
	show-icons: true;

	combi-hide-on-prefix: true;

	display-drun: "";
   timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "spotlight"
